.index_button__ayzz2 {
  width: 100px;
  height: 50px;
  border: 2px solid brown; }
  .index_button__ayzz2:hover {
    background: #e62525; }

.index_Preview__fHUX- {
  width: 100px;
  height: 100px;
  border: 2px solid brown;
  display: flex;
  transform: rotate(30deg); }
